{% extends 'layout.html' %}

<!-- MAIN BLOCK -->
{% block main %}

<form action="/" method="post">
  <section class="gradient">
    <article class="centrarForm">
        <div class="field">
            <select name="mes">

            <option value="Enero">Enero</option>

            <option value="Febrero">Febrero</option>

            <option value="Marzo">Marzo</option>

            <option value="Abril">Abril</option>

            <option value="Mayo">Mayo</option>

            <option value="Junio">Junio</option>

            <option value="Julio">Julio</option>

            <option value="Agosto">Agosto</option>

            <option value="Septiembre">Septiembre</option>

            <option value="Octubre">Octubre</option>

            <option value="Noviembre">Noviembre</option>

            <option value="Diciembre">Diciembre</option>

        </select>
        </div>
      <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input  required name="combustible" class="input" type="number" placeholder="Combustible" step="0.01"  pattern="^[0-9]+" />
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <input required class="input" name="recambios" type="number" placeholder="Gastos Recambios" step="0.01"  pattern="^[0-9]+" />
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <input required class="input" name="renting" type="number" placeholder="Gastos Renting" step="0.01"  pattern="^[0-9]+" />
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <input  required class="input" name="seguro" type="number" placeholder="Gastos Seguro" step="0.01"  pattern="^[0-9]+" />
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control">
          <button class="button is-success">
            Calcular y Guardar
          </button>

        </p>
      </div>
    </article>
  </section>
</form>
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h3 class="title">
        Total:{{ total}}
      </h3>

    </div>
  </div>
</section>

{% endblock %}
